header {
    background-color: url(group.png)
    
}

a, h1 {
    font-family: ;
    text-transform: capitalize;
}

.company {
    
}

.aboutus {
    
}

.menu {
    
}

.receips {
    
}

.contact {
    
}

.reserv {
    
}

h5 {
    
}

hgroup {
    
}

.welcome {
    
}

.fiasco {
    
}

.what {
    
}